.bi {
  font-size: 25px;
}

button {
  border-radius: 0 !important;
}

input[type="text"] {
  border-radius: 0 !important;
  border: none !important;
}

select {
  border-radius: 0 !important;
}

.carousel-item img:hover {
  transform: scale(1.2);
}
